.li {
    align-items: center;
    gap: 20px;
    padding-left: 15px;

    li {
        list-style: none;
        padding: 5px;
        border-radius: 5px;

        a {
            font-size: 18px;
            text-decoration: none;
            color: $list_color;

            span{
                color: black;
                font-weight: $bold_text;
            }
        }

        &:hover {
            background-color: white;
            cursor: pointer;
        }

        &:hover a,
        &:hover a span{
            color: #2f3ab2;
        }
    }
}






