nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 56px;
    max-width: 100%;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 16px;
    background-color: white;

    .createAccount {
        align-items: center;
        width: 250px;
        height: 100%;
        gap: 10px;
    
        svg {
            width: 50px;
        }
    }

    .navLogo {
        align-items: center;
        gap: 10px;
    
        img {
            align-items: center;
            width: 44px;
            height: 36px;
            gap: 10px;
        
        }
    
        input {
            width: 420px;
            height: 36px;
            border: 1px solid gray;
            display: none;
            border-radius:9px;
            padding-left: 10px;
    
            &::placeholder {
                font-size: 15px;
            }
    
        }
    }
    
}

.mainButtons {
    height: 80%;
    width: 100%;

    a   {
        font-size: 16px;
    }
}











