.card1 {
    
    overflow: hidden;
    border-radius: 10px;
    margin-top: 10px;
    

    .imgPost {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

}

.card2 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    .usersCard {
        gap: 10px;
        margin-bottom: 15px;

        .userInfo {
            a {
                border-radius: 5px;
                padding: 5px 0px;
                color: rgb(31, 31, 31);
                text-decoration: none;
                font-weight: $bold_text;

                &:hover {
                    color: black;
                    background-color: rgba(128, 128, 128, 0.274);
                }
            }

            span {
                font-size: 12px;
                color: rgb(68, 67, 67);
            }
        }
    }

    .cardTitle {
        margin-bottom: 15px;

        h2 {
            font-size: 30px;
            font-weight: $bold_text;
        }

        &:hover {
            color: rgba(45,58,178);
            cursor: pointer;
        }
    }
    

    #padding {
        padding-left: 40px;
    }
}