.card1 {
  overflow: hidden;
  border-radius: 10px;
  margin-top: 10px;

  .imgPost {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.card2 {
  background-color: white;
  padding: 20px;
  border-radius: 10px;

  .usersCard {
    gap: 10px;
    margin-bottom: 15px;

    .userInfo {
      a {
        border-radius: 5px;
        padding: 5px 0px;
        color: rgb(31, 31, 31);
        text-decoration: none;
        font-weight: $bold_text;

        &:hover {
          color: black;
          background-color: rgba(128, 128, 128, 0.274);
        }
      }

      span {
        font-size: 12px;
        color: rgb(68, 67, 67);
      }
    }
  }

  .cardTitle {
    margin-bottom: 15px;

    h2 {
      font-size: 30px;
      font-weight: $bold_text;
    }

    &:hover {
      color: rgba(45, 58, 178);
      cursor: pointer;
    }
  }

  #padding {
    padding-left: 40px;
  }
}

.post {
  input,
  textarea {
    outline: none;
  }

  h1 {
    margin: 0px;
    font-weight: 500;
  }

  #autor,
  #titulo, #img {
    display: inline-block;
    padding: 15px;
    margin: 10px 0px;
    width: 49%;
    height: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;  }

  #parrafo {
    display: block;
    font-size: 1em;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    resize: none;
  }
 /* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}


input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #f1fcfd;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border:1px solid #ecf0f1;
  background:#ffffff;
  padding:5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

}
