.disclaimers{
    margin-top: 2.5em;
    padding: 0em 1em;

    .disclaimer_p{
        margin-top: 1em;
        font-size: 12pt;
        line-height: 25px;
        color: black;
        opacity: 0.6;
        

    }
}