.layout{


width: 90%;
height: 100vh;
display: flex;
padding: 0em 4.5em;
margin-top: 1em;
gap: 1em;

.sec1{
  
    flex-grow: 1.8;
    flex-shrink: 0;
    max-width: 20%; 
}
.sec2{
    background-color: aquamarine;
    flex-grow: 5;
    flex-shrink: 0;
    max-width: 50%; 
}
.sec3{
    background-color: beige;
    flex-grow: 2;
    flex-shrink: 0;
    max-width: 30%; 
}




}