.sideNav{
   padding: 1em .5em;


    .list{
        list-style: none;
        padding: 0.5em 1em;
      
        margin-top: .1em;       
        font-size: 14pt; 
        border-radius: 8px;
     
        cursor: pointer ;

        
        

        .linkHover{
           
            word-spacing: 5px;
            text-decoration: none;
            color: inherit; 
            cursor: pointer;
        
           
          
           
            
            
        }
    
      
       

        svg{
         
            width: 24px;
           
        }
    }
    .list:hover{
        background-color:#e2e3f3 ;
        color: #2f3ab2;
        text-decoration: underline;

    }


  

}